div button{
  display: inline-block;
  padding: 15px;
  height: 50px;
  min-width: 100px;
  background: #348AA7;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken(#348AA7,0%);
  border-bottom: 2px solid darken(#348AA7,3%);
  margin-left: 45%;
  
  &:hover{
    background: darken(#348AA7,5%);
    box-shadow: 0 4px 1px darken(#348AA7,5%);
    border-bottom: 2px solid darken(#348AA7,8%);
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
}

div input {
    font: 500px monospace; /* make the input's button HUGE */
    opacity:0; /* this will make it transparent */
    filter: alpha(opacity=0); /* transparency for Internet Explorer */
    position: absolute;  /* making it absolute with z-index:1 will place it on top of the button */
    z-index: 1;
    top:0;
    right:0;
    padding:0;
    margin: 0;
}

.notifyUpload {
  text-align: center;
  margin-top: 15%;
  font-weight: 400;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #E6E9ED;
  font-size: 80px;

}

.close { 
  display: none;
 }

 .mosaicRow {

 }